﻿.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

div#chart-container {
    margin: auto;
    background-color: #2F4A6D;
}

svg {
    width: 100%;
    height: 100%;
}

.bar {
    fill: #80cbc4;
}

text {
    font-size: 9px;
    fill: #fff;
}

path {
    stroke: gray;
}

line {
    stroke: gray;
}

    line#limit {
        stroke: #FED966;
        stroke-width: 3;
        stroke-dasharray: 3 6;
    }

.grid path {
    stroke-width: 0;
}

.grid .tick line {
    stroke: #9FAAAE;
    stroke-opacity: 0.3;
}

text.divergence {
    font-size: 12px;
    fill: #2F4A6D;
}

text.value {
    font-size: 12px;
}

text.title {
    font-size: 22px;
    font-weight: 600;
}

text.label {
    font-size: 12px;
    font-weight: 400;
}
