﻿tr.dataHover {
    background-color: #FFFACD;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 0;
}

.cards tbody tr {
    padding: 2px;
    float: left;
    width: 100%;
    flex-wrap: wrap;
    flex: initial;
    margin: 2px;
}

.cards tbody td {
    display: block;
    overflow: hidden;
    text-align: left;
}
