﻿@model IEnumerable<ZoneOut.Models.Place>
@{
    ViewBag.Title = "Interesting Places";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/Content/DataTables/css/select.bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/map-icons.css" />
    <link rel="stylesheet" href="~/Content/maps-index.css" />
}
<div>
    @Html.ActionLink("ZONE OUT POINT", "Index", "Home") >
    SUGGESTIONS >
    INTERESTING PLACES
</div>
<div style="margin-left:3%;margin-right:3%">
    <h4 style="font-weight:bold">Interesting Places Near You</h4>
    <h6>Tips: Beautiful attractions can make people feel relaxed and improve their mental health.</h6>
    <div class="row">
        <div class="col l5 m12 card pink lighten-5">

            <div class="pac-card" id="pac-card" style="width:inherit">
                <h6 style="font-weight:bold">
                    search another location
                    <input id="pac-input" type="text" placeholder="Enter a location" style="width:inherit">
                </h6>
            </div>
            <div id="map-block"></div>
        </div>
        <div class="col l6 offset-l1 m12 card pink lighten-5" style="font-size:smaller">
            <table class="table cards" id="data">
                <thead hidden="hidden">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Category
                        </th>
                        <th>Distance</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/Scripts/maps-place-generate-data-tables.js"></script>
    <script type="text/javascript" src="~/Scripts/maps-place-get-data.js"></script>
    <script type="text/javascript" src="~/Scripts/maps-init-map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCINgZahvqcpiICfKm4sNe_yWWMq128EpI&libraries=places&callback=initMap"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/dataTables.material.min.js"></script>
    <!--script type="text/javascript" src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>-->
    <script type="text/javascript" src="~/Scripts/DataTables/dataTables.select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/map-icons.js"></script>
    <script>
        $('#nav-item-suggest').addClass('active');
    </script>
}