﻿@model ZoneOut.Models.Councellor

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.ActionLink("ZONE OUT POINT", "Index", "Home") >
    SUGGESTIONS >
    @Html.ActionLink("COUNCELLORS","Index","Councellors") >
    @Model.Name
</div>
<div style="margin-left:3%;margin-right:3%">
    <div class="row">
        <div class="col l4 m12 card blue lighten-5">
            <div id="map-block"></div>
        </div>
        <div class="col l3 offset-l1 m12 card blue lighten-5">
            <h4>@Html.DisplayFor(model => model.Name)</h4>
            <hr />
            <div>
                <span style="font-weight:bold">Address: </span>
                @Html.DisplayFor(model => model.Address),
            </div>
            <div>
                <span style="font-weight:bold">Type: </span>
                @Html.DisplayFor(model => model.Type)
            </div>
        </div>
        <div class="col l3 offset-l1 m12 card blue lighten-5">
            <div class="col m3 s6"></div>
            <select id="mode">
                <option value="DRIVING">Driving</option>
                <option value="TRANSIT">Transit</option>
                <option value="WALKING">Walking</option>
                <option value="BICYCLING">Bicycling</option>
            </select>
            <div id="right-panel" style="font-size:small"></div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
@section Scripts{
    <script>
        var map, infoWindow;
        var destlat = @Model.Latitude;
        var destlng= @Model.Longitude;
        var lat = parseFloat(localStorage.getItem('lat'));
        var lng = parseFloat(localStorage.getItem('lng'));
        function initMap() {
            map = new google.maps.Map(document.getElementById('map-block'), {
                zoom: 12,
                center: { lat: lat, lng: lng },
                mapTypeControl: true,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                    position: google.maps.ControlPosition.TOP_CENTER
                },
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.LEFT_CENTER
                },
                scaleControl: true,
                streetViewControl: true,
                streetViewControlOptions: {
                    position: google.maps.ControlPosition.LEFT_TOP
                },
                fullscreenControl: true
            });

            infoWindow = new google.maps.InfoWindow;
            map.setCenter({'lat':lat,'lng':lng});
            var centermarker = new google.maps.Marker({
                position: { 'lat': lat, 'lng': lng },
                map: map,
                title: 'You are here!'
            });
            var marker = new google.maps.Marker({
                position: { 'lat': destlat, 'lng': destlng },
                map: map,
                title: '@Model.Name'
            });
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var directionsService = new google.maps.DirectionsService;
            directionsDisplay.setMap(map);
            directionsDisplay.setPanel(document.getElementById('right-panel'));
            calculateAndDisplayRoute(directionsService, directionsDisplay);
            document.getElementById('mode').addEventListener('change', function () {
                calculateAndDisplayRoute(directionsService, directionsDisplay);
            });
        }

        function calculateAndDisplayRoute(directionsService, directionsDisplay) {
            var selectedMode = document.getElementById('mode').value;
            directionsService.route({
                origin: { lat: lat, lng: lng },  // Haight.
                destination: { lat: destlat, lng: destlng },  // Ocean Beach.
                travelMode: google.maps.TravelMode[selectedMode]
            }, function (response, status) {
                if (status == 'OK') {
                    directionsDisplay.setDirections(response);
                    $('footer').css({ 'position': 'relative' });
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCINgZahvqcpiICfKm4sNe_yWWMq128EpI&callback=initMap">
    </script>
    <script>
        $(function () {
            if (window.screen.availWidth > 800) {
                $('#map-block').css({
                    'left': 0,
                    'height': window.screen.availHeight * 0.6,
                    'width': $('.row').width() * 0.35
                });
            } else {
                $('#map-block').css({
                    'left': 0,
                    'height': window.screen.availHeight * 0.6,
                    'width': window.screen.availWidth * 0.9
                });
            }
            $('#nav-item-suggest').addClass('active');
            $('select').formSelect();
        });
    </script>
}