﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Here at Zone Out, we are driven by a single goal;
    to do our part in making the world a better place for all.
    Our decision making process is informed by comprehensive
    empirical studies and high quality data evaluation.
    We strive to build productive relationships and make
    a positive impact with all of our pursuits.
</p>
@section Scripts
{
    <script>
        $(function () {
            $('#nav-item-about').addClass('active');
        });
    </script>
}