﻿@{
    ViewBag.Title = "Our Team - Infinite Loops";
}
@section Styles{
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">
}
<div class="container">
    <div class="row">
        <div class="col l2 m4 center-align" style="padding:2%">
            <p><img class="circle" width="134" height="142" alt="FY.jpg" src="~/Images/FY.jpg"></p>
        </div>
        <div class="col l4 m8">
            <h3> Fan Yang</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item h5" style="color:red">Developer</li>
                <li class="list-group-item h6">Master of Information Technology</li>
                <li class="list-group-item">
                    <a href="https://plus.google.com/u/0/115573278739344385663" target="_blank">
                        <i class="fab fa-google-plus"></i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100015408193694" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/fan-yang-19125813a/" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col l2 m4 center-align" style="padding:2%">
            <p><img class="circle" width="134" height="142" alt="KK.jpg" src="~/Images/KK.jpg"></p>
        </div>
        <div class="col l4 m8">
            <h3>Kratika Kaushal</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item h5" style="color:red">Data Analyst</li>
                <li class="list-group-item h6">Master of Data Science</li>
                <li class="list-group-item">
                    <a href="https://plus.google.com/u/1/107721907311695986969" target="_blank">
                        <i class="fab fa-google-plus"></i>
                    </a>
                    <a href="https://www.facebook.com/kratika.kaushal.5" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/kratika-kaushal" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col l2 m4 center-align" style="padding:2%">
            <p><img class="circle" width="134" height="142" alt="Z.jpg" src="~/Images/Z.jpg"></p>
        </div>
        <div class="col l4 m8">
            <h3>Yu Zhong</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item h5" style="color:red">Business Analyst</li>
                <li class="list-group-item h6">Master of Business Information System</li>
                <li class="list-group-item">
                    <a href="https://plus.google.com/u/0/117905208805191400464" target="_blank">
                        <i class="fab fa-google-plus"></i>
                    </a>
                    <a href="https://www.facebook.com/rainzhongyu" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/yu-zhong-b507a9118/" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col l2 m4 center-align" style="padding:2%">
            <p><img class="circle" width="134" height="142" alt="SM.jpg" src="~/Images/SM.jpg"></p>
        </div>
        <div class="col l4 m8">
            <h3>Sharmi Barua</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item h5" style="color:red">Database Admin and UI Designer</li>
                <li class="list-group-item h6">Master of Information Technology</li>
                <li class="list-group-item">
                    <a href="https://plus.google.com/u/0/100098511332334010048" target="_blank">
                        <i class="fab fa-google-plus"></i>
                    </a>
                    <a href="https://www.facebook.com/shormila.shormi" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/sharmi-barua-a6a957114/" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $('#nav-item-contact').addClass('active');
            $('#nav-btn-contact').removeClass('btn-light').addClass('btn-primary');
        });
    </script>
}
