﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        @Html.ActionLink("ZONE OUT POINT", "Index", "Home") >
        ERROR
    </div>
    <div class="container">
        <h1 class="red-text">Error.</h1>
        <h2 class="red-text">An error occurred while processing your request.</h2>
    </div>
</body>
</html>
