﻿@{
    ViewBag.Title = "Home Page";
}
@section Styles{
    <style>
        body {
            background: url('/Images/bg.jpg') no-repeat right top fixed;
        }

        .carousel {
            margin-bottom: 4rem;
        }
        /* Since positioning the image, we need to help out the caption */
        .carousel-caption {
            bottom: 3rem;
            z-index: 15;
        }

        /* Declare heights because of positioning of img element */
        .carousel-item {
            width: 100%;
            height:auto;
        }

        .carousel.carousel-item > img {
            position: relative;
            top: 0;
            left: 0;
        }

        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -moz-font-feature-settings: 'liga';
            -moz-osx-font-smoothing: grayscale;
        }

        .middle-indicator {
            position: absolute;
            top: 50%;
        }

        .middle-indicator-text {
            font-size: 4.2rem;
        }

        a.middle-indicator-text {
            color: white !important;
        }

        .content-indicator {
            width: 64px;
            height: 64px;
            background: none;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
        }

        .overlay {
            position: absolute;
            top: 30%;
            bottom: 0;
            left: 0;
            right: 0;
            height: 50%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: #c51162;
        }

        .card:hover .overlay {
            opacity: 1;
        }
    </style>
}

<div style="margin-top:1%">
    <div class="row">
        <div class="col s12 m12 offset-l3 l8 no-padding" id="carousel">
            <div class="carousel carousel-slider center z-depth-5" data-indicators="true">
                <div class="carousel-fixed-item center middle-indicator">
                    <div class="left">
                        <a href="Previo" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
                    </div>
                    <div class="right">
                        <a href="Siguiente" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
                    </div>
                </div>
                <a class="carousel-item" href="#">
                    <img class="carousel-image" src="/Images/background-1.jpg" alt="First slide">
                </a>
                <a class="carousel-item" href="#">
                    <img class="carousel-image" src="/Images/background-2.jpg" alt="Second slide">
                </a>
                <a class="carousel-item" href="#">
                    <img class="carousel-image" src="/Images/background-3.jpg" alt="Third slide">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="card-panel col l4 m12 s12" id="block-besides-carousel" style="
            background-color:rgba(255,64,129,0.7);
            position:absolute;padding:2%">
    <div id="text-besides-carousel" class="flow-text white-text">Are you an international university student?</div>
    <div class="center-align">
        @Html.ActionLink("Learn More", "Statistics","Home",new { },
       new { @id="btn-main-learn-more", @class= "waves-effect waves-light btn-large pulse flow-text white-text" })
    </div>
</div>



<div id="before-cards" class="pink darken-1">
    <div style="height:10%"></div>
    <h4 class="center-align" style="color:white;font-weight:bold">OUR SERVICES</h4>
</div>
<div style="margin-top:15px;margin-bottom:15px">
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card z-depth-5 pink accent-4" style="padding:5px">
                <img class="card-img-top" src="~/Images/coloring-book-1.jpg" style="width:100%;height:100%" />
                <div class="overlay" style="padding:2pt">
                    <p id="card-text-game" class="flow-text white-text" style="font-size: medium">
                        Art therapy is a therapy which helps people improve their mental health through creativity.
                        People can express their feelings and expression through art can be healing. It also
                        helps people to release their stress. 
                    </p>
                    <br />
                    <div class="center-align">
                        @Html.ActionLink("Learn More", "Index", "Coloring", new { },
                       new {@class= "waves-effect waves-light btn-small pulse" })
                    </div>
                </div>
                <div>
                    <h3 class="card-title white-text" style="font-weight:bold">Art Games</h3>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card z-depth-5 pink accent-4" style="padding:5px">
                <img class="card-img-top" src="~/Images/stat.png" style="width:100%;height:100%" />
                <div class="overlay" style="padding:2pt">
                    <p id="card-text-stat" class="flow-text white-text" style="font-size: medium">
                        Other than making random doodles on margin of pages to kill time, 
                        you do not express yourself with art as you used to as a kid.
                        looking at it or even making it to our brain and overall mental health.
                    </p>
                    <br />
                    <div class="center-align">
                        @Html.ActionLink("Learn More", "Statistics", "Home", new { },
                       new {@class= "waves-effect waves-light btn-small pulse" })
                    </div>
                </div>
                <div>
                    <h3 class="card-title white-text" style="font-weight:bold">Statistics</h3>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card z-depth-5 pink accent-4" style="padding:5px">
                <img class="card-img-top" src="~/Images/time.jpg" style="width:100%;height:100%" />
                <div class="overlay" style="padding:2pt">
                    <p id="card-text-stat" class="flow-text white-text" style="font-size: medium">
                        Time management is the process of planning and exercising conscious 
                        control of time spent on specific activities, especially to increase 
                        effectiveness, efficiency or productivity. 
                    </p>
                    <br />
                    <div class="center-align">
                        @Html.ActionLink("Learn More", "Index", "Quizzes", new { },
                       new {@class= "waves-effect waves-light btn-small pulse" })
                    </div>
                </div>
                <div>
                    <h3 class="card-title white-text" style="font-weight:bold">Time Management</h3>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card z-depth-5 pink accent-4" style="padding:5px">
                <img class="card-img-top" src="~/Images/hobby-bg.jpg" style="width:100%;height:100%" />
                <div class="overlay" style="padding:2pt">
                    <p id="card-text-stat" class="flow-text white-text" style="font-size: medium">
                        Join some hobby classes, you can make friends,
                        reduce academic stress and improve mental health.
                    </p>
                    <br />
                    <div class="center-align">
                        @Html.ActionLink("Learn More", "Index", "HobbyClass", new { },
                       new {@class= "waves-effect waves-light btn-small pulse" })
                    </div>
                </div>
                <div>
                    <h3 class="card-title white-text" style="font-weight:bold">Hobby Classes</h3>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card z-depth-5 pink accent-4" style="padding:5px">
                <img class="card-img-top" src="~/Images/place.jpg" style="width:100%;height:100%" />
                <div class="overlay" style="padding:2pt">
                    <p id="card-text-stat" class="flow-text white-text" style="font-size: medium">
                        Beautiful attractions can make people feel relaxed and improve their mental health.
                    </p>
                    <br />
                    <div class="center-align">
                        @Html.ActionLink("Learn More", "Index", "Places", new { },
                       new {@class= "waves-effect waves-light btn-small pulse" })
                    </div>
                </div>
                <div>
                    <h3 class="card-title white-text" style="font-weight:bold">Interesting Places</h3>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card z-depth-5 pink accent-4" style="padding:5px">
                <img class="card-img-top" src="~/Images/quiz.jpg" style="width:100%;height:100%" />
                <div class="overlay" style="padding:2pt">
                    <p id="card-text-stat" class="flow-text white-text" style="font-size:medium">
                        Counselling service can help people improve their mental health.
                    </p>
                    <br />
                    <div class="center-align">
                        @Html.ActionLink("Learn More", "Index", "Councellors", new { },
                       new {@class= "waves-effect waves-light btn-small pulse" })
                    </div>
                </div>
                <div>
                    <h3 class="card-title white-text" style="font-weight:bold">Councellors</h3>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            var i = 0;
            const carouselText = ['Are you an international university student?',
                'Are you facing any problems regarding mental health?',
                'ZONE OUT POINT will help you cope with stress.'];
            $('#nav-item-home').addClass('active');
            $('.carousel.carousel-slider').carousel({
                fullWidth: true,
                duration: 200
            });
            setTimeout(autoplay, 3500);
            function autoplay() {
                $('.carousel').carousel('next');
                i += 1;
                if (i > 2) i = 0;
                if (i === 2) $('#btn-main-learn-more').show(); else $('#btn-main-learn-more').hide();
                $('#text-besides-carousel').text(carouselText[i]);
                setTimeout(autoplay, 3500);
            }
            $('.moveNextCarousel').click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                i += 1;
                if (i > 2) i = 0;
                if (i === 2) $('#btn-main-learn-more').show(); else $('#btn-main-learn-more').hide();
                $('#text-besides-carousel').text(carouselText[i]);
                $('.carousel').carousel('next');
            });

            // move prev carousel
            $('.movePrevCarousel').click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                i -= 1;
                if (i < 0) i = 2;
                if (i === 2) $('#btn-main-learn-more').show(); else $('#btn-main-learn-more').hide();
                $('#text-besides-carousel').text(carouselText[i]);
                $('.carousel').carousel('prev');
            });
            $('#before-cards').css({ 'height': $('#carousel').height() / 4 });
            $('#btn-main-learn-more').hide();
            $('#block-besides-carousel').css({
                'color': 'white',
                'top': $('#carousel').height() * .4,
                'left': $('#carousel').width() / 12,
                'height': $('#carousel').height() * .4,
                'font-size': $('#carousel').height() / 10
            });
            if ($(document).width() > 800) {

                $('#block-besides-carousel').css({
                    'width': $(document).width() / 3
                });
            } else {
                $('#carousel').css({ 'height': window.screen.availHeight * 0.85 });
                $('.carousel').css({ 'height': window.screen.availHeight * 0.85 });
                $('.carousel-item').css({ 'height': window.screen.availHeight * 0.85 });
                $('.carousel-image').css({
                    'height': window.screen.availHeight * 0.85,
                    'width': 'auto',
                    'margin-left': '-60%'
                });
                $('#block-besides-carousel').css({
                    'width': $(document).width() * .8,
                    'top': $('#carousel').height() * .5
                });
                $('#btn-main-learn-more').addClass('btn-small');
            }
        });
    </script>
}
