﻿@model ZoneOut.Models.LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    <title>Login To Zone Out</title>
</head>
<body>
    <div class="container">
        <h1>ZONE OUT</h1>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Home",
            new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
            new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Please enter password!</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "red-text" })
                 <div class="form-group" hidden="hidden">
                    @Html.LabelFor(m => m.UserName, new { @class = "col m2 control-label" })
                    <div class="col m10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "red-text" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col m2 control-label" })
                    <div class="col m10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "red-text" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col m10 offset-m10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col m10 offset-m10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
