﻿@{
    ViewBag.Title = "How Art Influences Well-Being";
}
@section Styles{
    <style>
        .card-image {
            width: 100%;
        }

        .card {
            height: 100%;
        }
    </style>
}
<div>
    @Html.ActionLink("ZONE OUT POINT", "Index", "Home") >
    HOW ART INFLUENCES
</div>
<div class="container">
    <div class="card z-depth-5">
        <div class="center-align">
            <h3 style="font-weight:bold">
                How does ART impact my WELL-BEING?
            </h3>
            <h4 style="font-weight:bold">
                “Art is the journey of a free soul”
            </h4>
            <h6>
                Here are reasons how art is beneficial for you
            </h6>
        </div>
        <div>
            <div class="row">
                <div class="col m4 s12">
                    <div class="card" style="padding:5px">
                        <img class="card-image" src="~/Images/stat-card-1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight:bold">
                                Did you know creating art relieves stress?
                            </h5>
                            <p class="card-content">
                                Creating art can serve as a distraction, giving your brain a break from usual thoughts.
                            </p>
                            <div>
                                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">
                                    Learn More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card" style="padding:5px">
                        <img class="card-image" src="~/Images/stat-card-2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight:bold">
                                Did you know art improves academic performance?
                            </h5>
                            <p class="card-content">
                                Creating art requires a focus on details and a concentration that blocks everything else out.
                            </p>
                            <div>
                                <a class="waves-effect waves-light btn modal-trigger" href="#modal2">
                                    Learn More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card" style="padding:5px">
                        <img class="card-image" src="~/Images/stat-card-3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight:bold">
                                Did you know our brain views art as a reward?
                            </h5>
                            <p class="card-content">
                                The brain releases a hormone called dopamine, the chemical of pleasure when one is viewing art.
                            </p>
                            <div>
                                <a class="waves-effect waves-light btn modal-trigger" href="#modal3">
                                    Learn More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m4 s12">
                    <div class="card" style="padding:5px">
                        <img class="card-image" src="~/Images/stat-card-4.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight:bold">
                                Did you know art boosts self-esteem and provides a sense of accomplishment?
                            </h5>
                            <p class="card-content">
                                Completing a piece of art can provide tremendous satisfaction in your ability to manage the medium and express your own vision.
                            </p>
                            <div>
                                <a class="waves-effect waves-light btn modal-trigger" href="#modal4">
                                    Learn More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col m4 s12">
                    <div class="card" style="padding:5px">
                        <img class="card-image" src="~/Images/stat-card-5.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight:bold">
                                Did you know art can increase emotional intelligence?
                            </h5>
                            <p class="card-content">
                                Art and emotion are linked. It gives you a healthy outlet to express your emotions and letting go of your feelings and fears.
                            </p>
                            <div>
                                <a class="waves-effect waves-light btn modal-trigger" href="#modal5">
                                    Learn More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card" style="padding:5px">
                        <img class="card-image" src="~/Images/stat-card-6.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight:bold">
                                Did you know art improves overall quality of life?
                            </h5>
                            <p class="card-content">
                                Art has been shown to enhance factors such as memory and cognitive abilities, and mitigate symptoms of people who suffer from serious mental disorders.
                            </p>
                            <div>
                                <a class="waves-effect waves-light btn modal-trigger" href="#modal6">
                                    Learn More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modal1">
        <div class="modal-content">
            <h5 class="modal-title" id="ModalLabel1" style="font-weight:bold">Did you know creating art relieves stress?</h5>
            <p>
                Activities like painting, sculpting, drawing and engaging in hobbies are relaxing and lower your stress levels and leave you feeling mentally calm. When you get immersed in a hobby, you may find yourself in another zone or Zoned out from your worries. This meditative-like state focuses your mind and temporarily pushes aside all your worries. Art helps you reconnect with yourself and you become more aware of your physical state in-the-moment providing a mental escape from your regular activities and problems.  Thus, it helps you find identity and healing power within yourself.  Fighting anxiety, depression or emotional trauma can be very stressful for you both mentally and physically. Creating art can be used to relieve stress and relax your mind and body.
            </p>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn">Close</a>
            </div>
        </div>
    </div>
    <div class="modal" id="modal2">
        <div class="modal-content">
            <h5 class="modal-title" id="ModalLabel2" style="font-weight:bold">Did you know art improves academic performance?</h5>
            <p>
                Art is an activity that can employ all the senses—sight, sound, touch, smell, and taste. As opposed to math, art doesn't require any kind of a correct answer. Instead, you can come up with your own type of solution and further stimulate your brain with this type of creative thinking.  Gripping a paintbrush, drawing dots and lines, mixing colours, cutting with scissors, controlling a glue stick or squeezing a glue bottle, kneading and rolling playdough, tearing paper—all of these tasks require increasing amounts of dexterity and coordination. Art enhances problem solving skills. Every time you engage in a new or complex activity, your brain creates new connections between brain cells. The most complicated functions humans perform, such as learning a language or playing or listening to music, require whole brain thinking. Art lessons increase brain plasticity, fluid intelligence, IQ, and attention. By opening the mind, art therapy encourages people to seek smart solutions to problems rather than rely on drugs or alcohol. This is especially helpful in young adults who may struggle with fitting in or keeping up with the rapid changes in their lives It also improves communication skills as it fosters self-expression and the ability to reach out to others.
            </p>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn">Close</a>
            </div>
        </div>
    </div>
    <div class="modal" id="modal3">
        <div class="modal-content">
            <h5 class="modal-title" id="ModalLabel3" style="font-weight:bold">Did you know our brain views art as a reward? </h5>
            <p>
                Viewing art by visiting the gallery has been found to relieve people of mental exhaustion, the same way the outdoors can.  Studies have shown that people who visited a gallery had lower concentrations of cortisol, the stress hormone, from just 35 minutes spent roaming the gallery. Viewing art, whether it is your own or someone else’s work, registers emotions in your brain. Those feels are perceived in the same part of your brain where you sense romantic love. Through brain chemicals and neuroscience, art increases your feelings of love and empathy for others. Empathy can strengthen our connections to one another and improve mental health. When you empathize with the people around you, you are less likely to experience stress in response to their words or actions. Art creates a reduction in stress and an increase in relationship healing.
            </p>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn">Close</a>
            </div>
        </div>
    </div>
    <div class="modal" id="modal4">
        <div class="modal-content">
            <h5 class="modal-title" id="ModalLabel4" style="font-weight:bold">Did you know art boosts self-esteem and provides a sense of accomplishment?</h5>
            <p>
                Each area of art is a specific skill and talent and practicing the one you enjoy the most can improve those skills. Over time, you will see a noticeable improvement in the quality of your finished works, and that can boost your self-esteem. Self-esteem is built on recognizing your own accomplishments and understanding their implications to the rest of your life. If you can do this, you can do other things, as well. Art gives you a chance to chart your growth and contemplate the outward expression of your emotions at different stages. Creating art can help you acknowledge and recognize feelings that have been lurking in your subconscious. Open-ended, process-oriented art is nothing but an endless opportunity for making choices, coming to conclusions, second-guessing decisions, and evaluating results. You will become comfortable with uncertainty and remain flexible thinkers, which is key for creativity and confidence.
            </p>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn">Close</a>
            </div>
        </div>
    </div>
    <div class="modal" id="modal5">
        <div class="modal-content">
            <h5 class="modal-title" id="ModalLabel5" style="font-weight:bold">Did you know art can increase emotional intelligence?</h5>
            <p>
                Art is a safe and personal way to learn to live into your intuition versus merely following your thoughts. What stroke of the brush or dance move does your soul want? What thought stops or slows down that gut feeling? Your struggle through these combating feelings carry over into your job, relationships, and self-love. Many artists find their craft is the only way, or at least the best way, for them to express their emotions. Giving people a means of releasing emotional tension is why art benefits mental health. You do not have to be good at sculpture or dance to use it as a means of emotional expression. It is not the final product or your art, the picture or the tune, that produced the benefit. The act of practicing an artistic form of expression is what heals you giving you a healthy outlet for expressing and letting go all your feelings and fears. Complex emotions such as sadness or anger sometimes cannot be expressed with words. When you are unable to express yourself, but you desire emotional release, making art may help you to do it. They improve overall behav¬ior and reduce impulsiveness.
            </p>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn">Close</a>
            </div>
        </div>
    </div>
    <div class="modal" id="modal6">
        <div class="modal-content">
            <h5 class="modal-title" id="ModalLabel6" style="font-weight:bold">Did you know art improves overall quality of life?</h5>
            <p>
                Art therapy can help improve symptoms related to physical and mental disorders. Among other benefits, it can help reduce pain, stress and irritability levels during recovery. Art enhances cognitive abilities and memory, even for people with serious brain disorders. Dementia is mainly thought of as a memory loss problem, but patients also experience symptoms such as agitation, aggression, anxiety, depression, and insomnia. While it's been shown that different types of drug treatments generally don't work very well in these individuals, creating art provides a great sense of pleasure for them. This is because it has been shown to greatly improve their self-esteem and social behaviour, as well as reduce various psychiatric symptoms associated with their disorder. It is proven to help combat the chemical imbalances in the brain. Crafting hobbies of all kinds — knitting, quilting, sewing, drawing, photography, woodworking, gardening, and do-it-yourself home repair — increase dopamine, ward off depression, and protect the brain from aging. Research has demonstrated that Art can help foster positivity in people’s lives and provide something to look forward to every day
            </p>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn">Close</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $('#nav-item-stats').addClass('active');
            $('.modal-dialog').width(window.screen.availWidth * 0.6);
            $('.modal').modal();
        });
    </script>
}