﻿<ul class="nav nav-tabs">
    <li class="nav-item">
        @Html.ActionLink("Options","Index","Coloring",new { },
       new { @class = "nav-link", @id = "coloring-game-index" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Provided Canvas",  "ColoringGameInternalRandom", "Coloring", new { },
       new { @class = "nav-link",@id="internal-coloring-game"})
    </li>
    <li class="nav-item">
        @Html.ActionLink("Upload Your Pictures",  "ColoringGameExternal", "Coloring", new { },
       new { @class = "nav-link", @id = "external-coloring-game" })
    </li>
</ul>
