﻿@model ZoneOut.Models.Coloring
@{
    ViewBag.Title = "Colouring Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/Content/coloring-game-canvas.css" />
}
@*Html.Partial("_ColoringGamesPartial")*@
<!--[if IE]>
    <div >Sorry, our website does not support IE browser!!!<div>
    <script>
        $(function () {
            $('#drawing-block').hide();
            $('#loader').hide();
            $('#nav-item-games').addClass('active');
            $('#external-coloring-game').addClass('active');
        });
    </script>
<![endif]-->
    <div>
        @Html.ActionLink("ZONE OUT POINT", "Index", "Home") >
        @Html.ActionLink("COLORING GAMES", "Index", "Coloring") >
        RANDOM CANVAS
    </div>
<div style="margin-left:7%;margin-right:7%" id="main-container">
    <div class="row">
        <div class="inputoutput col m9 s12" style="padding:2%">
            <div class="card" style="padding:1%">
                @if (Model.Id > 0)
                {
                    @Html.ActionLink("Prev", "ColoringGameInternalSelected","Coloring",
                           new { picId = Model.Id - 1 },new {@class= "btn-small" })
                }
                else
                {
                    @Html.ActionLink("Prev", "ColoringGameInternalSelected","Coloring",
                           new { picId = Model.Id - 1 },new {@class= "btn-small disabled" })
                }
                @if (Model.Id < 23)
                {
                    @Html.ActionLink("Next", "ColoringGameInternalSelected", "Coloring",
                                new { picId = Model.Id + 1 }, new { @class = "btn-small", @style = "float:right" })
                }
                else
                {
                    @Html.ActionLink("Next", "ColoringGameInternalSelected", "Coloring",
                           new { picId = Model.Id + 1 }, new { @class = "btn-small disabled",@style="float:right"})
                }
                <div class="inputoutput">
                    <img id="imageSrc" alt="No Image" style="width:100%;height:100%"
                         src="@Model.Url" />
                </div>
                <div class="overlay">
                    <div class="loader" id="loader"></div>
                </div>
                <div class="z-depth-5" style="margin-top:1%">
                    <canvas id="canvasOutput"></canvas>
                </div>
            </div>
        </div>
        <div class="col m3 s12" style="padding:2%">
            <div class="card" style="padding:5%;margin-bottom:1%;text-align:justify">
                <h5 style="font-weight:bold">Instructions</h5>
                <h6>
                    For next picture, choose “Next” and for previous picture choose “Prev” button.
                </h6>
                <h6>
                    By choosing colours given below, you can pick any colour and use that to colour the canvas.
                </h6>
                <h6>
                    Select “Save” if you wish to download your canvas.
                </h6>
                <h6>After you colour 5 areas, you can analyse your mood.</h6>
            </div>
            <div class="card" id="color-selection" style="padding:5%">
                <div style="margin:3%">
                    <a href="#" class="btn-small" onclick="javascript:cUndo(); return false;">Undo</a>
                    <a href="#" class="btn-small" onclick="javascript:cRedo(); return false;">Redo</a>
                </div>
                <div style="margin:3%">
                    <a href="#" class="btn-small" onclick="javascript: reset(); return false;"
                       id="btn-reset">Reset</a>
                    <a href="#" class="btn-small" onclick="javascript: downloadImg();" id="btn-download"
                       download="coloring.png">Save</a>
                </div>
                <div style="margin:3%">
                    <button type="button" class="btn-small modal-trigger" href="#exampleModal" id="analyze"
                            onclick="javascript:analyze(); javascript:analyze();">
                        Mood Analysis
                    </button>
                </div>
                <div>
                    <h5>
                        Selected Color:
                        <span id="selected-color" class="dot"
                              style="background-color:red;height:30px;width:30px"></span>
                    </h5>
                </div>
                <div id="colour-swatch"></div>

                <div style="height:200px"></div>

            </div>
        </div>
    </div>
</div>
<div class="modal" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mood Analysis</h5>
            </div>
            <div class="modal-content" id="modal-body">
            </div>
            <hr />
            <div>
                <a href="#!" class="modal-close waves-effect waves-green btn-small">Close</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/d3/d3.min.js"></script>
    <script src="~/Scripts/canvas-actions.js"></script>
    <script src="~/Scripts/mood-analysis.js"></script>
    <script src="~/Scripts/radar-chart.js"></script>
    <script src="~/Scripts/draw-chart.js"></script>
    @Scripts.Render("~/bundles/coloring")
    <link rel="preload" href="~/Scripts/opencv.js" as="script" />
    <link rel="preload" href="~/Scripts/opencv_js.wasm" as=fetch crossorigin />
    <script async src="~/Scripts/opencv.js" type="text/javascript" onload="onOpenCvReady()"></script>
    <script type="text/javascript">
        $(function () {
            $('#nav-item-game').addClass('active');
            $('.modal').modal();
            $('#analyze').addClass('disabled');
        });
        let imgElement = document.getElementById('imageSrc');
        ColourSwatch(Bucket(canvasOutput), [
            '#FF0000', '#FF3F3F', '#FF007F', '#FF7F7F', '#FF3F9F', '#FF7FBF',
            '#FF8C00', '#FFA83F', '#FFBFBF', '#FFBFDF', '#FFC57F', '#FFE2BF',
            '#0026FF', '#00B2FF', '#3F5CFF', '#3FC5FF', '#6500FF', '#7F46FF',
            '#00FF32', '#00FFBF', '#59FF00', '#3FFF65', '#82FF3F', '#ACFF7F',
            '#E5FF00', '#EBFF3F', '#F2FF7F', '#D5FFBF', '#BFFFCB', '#BFEBFF',
            '#7F92FF', '#7FD8FF', '#7FFF98', '#F87FFF', '#F53FFF', '#F200FF',
            '#000000', '#3F3F3F', '#7F7F7F', '#BFBFBF', '#F8FFBF', '#FFFFFF'
        ], document.getElementById('colour-swatch'));

        function loadCanvas() {
            let src = cv.imread(imgElement);
            cv.imshow('canvasOutput', src);
            src.delete();
            $('#imageSrc').hide();
        }
        var waitSec = 0;

        function waitOpenCV() {
            setTimeout(function () {
                try {
                    loadCanvas();
                    $('#loader').hide();
                } catch (e) {
                    waitSec++;
                    if (waitSec < 20)
                        waitOpenCV();
                    else {
                        $('#main-container').hide();
                        errorMsg();
                    }
                }
            }, 1000);
        }
        function errorMsg() {
            var body = document.getElementById('render-body');
            var error = document.createElement('div');
            error.className = 'h3 text-danger';
            error.textContent = 'Sorry, some important components cannot be loaded! Please check the setting of your browser!';
            var block = document.createElement('div');
            block.style.height = '400px';
            error.appendChild(block);
            body.appendChild(error);
        }
        function onOpenCvReady() {
            waitOpenCV();
        }

    </script>

}



