﻿
@{
    ViewBag.Title = "Colouring Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/Content/coloring-game-upload.css" />
    <link rel="stylesheet" href="~/Content/coloring-game-canvas.css" />
}
@*Html.Partial("_ColoringGamesPartial")*@
<!--[if IE]>
    <div class="h3 text-danger">Sorry, our website does not support IE browser!!!<div>
    <script>
        $(function () {
            $('#drawing-block').hide();
            $('#loader').hide();
            $('#nav-item-games').addClass('active');
            $('#external-coloring-game').addClass('active');
        });
    </script>
<![endif]-->
<div>
    @Html.ActionLink("ZONE OUT POINT", "Index", "Home") >
    @Html.ActionLink("COLORING GAMES", "Index", "Coloring") >
    UPLOAD PICTURE
</div>
<div class="loader overlay" id="loader" style="text-align:center">Loading...</div>
<div style="margin-left:7%;margin-right:7%" id="main-container">
    <div class="row">
        <div class="col m9 s12 card" style="padding:2%">
            <div>
                <label for="fileInput" class="custom-file-upload" style="color:white;background-color:#4db6ac">
                    Upload Picture
                </label>
                <input id="fileInput" type="file" accept="image/png, image/jpeg"
                       oninput="javascript: onFileOpen();" onabort="javascript: onInputCancel();" 
                       onchange="javascript: onFileChange();"/>
            </div>
            <img id="imageSrc" alt="No Image" style="width:100%" />
            <div class="z-depth-5" style="margin-top:1%">
                <canvas id="canvasOutput"></canvas>
            </div>
        </div>
        <div class="col m3 s12" style="padding:2%">
            <div class="card" style="padding:5%;margin-bottom:1%;text-align:justify">
                <h5 style="font-weight:bold">Instructions</h5>
                <h6>
                    Select “Upload” to then navigate to the picture you wish to upload.
                </h6>
                <h6>
                    A black and white canvas will appear, it confirms your image and/or files have been uploaded
                </h6>
                <h6>
                    Now, you can pick any colour given below and use that to colour the canvas.
                </h6>
                <h6>
                    Select “Save” if you wish to download your canvas.
                </h6>
                <h6>After you colour 5 areas, you can analyse your mood.</h6>
            </div>
            <div class="card" id="color-selection" style="padding:5%">
                <div style="margin:3%">
                    <a href="#" class="btn-small" onclick="javascript:cUndo(); return false;">Undo</a>
                    <a href="#" class="btn-small" onclick="javascript:cRedo(); return false;">Redo</a>
                </div>
                <div style="margin:3%">
                    <a href="#" class="btn-small" onclick="javascript: downloadImg();" id="btn-download"
                       download="coloring.png">Save</a>
                    <a href="#" class="btn-small" onclick="javascript: reset(); return false;"
                       id="btn-reset">Reset</a>
                </div>
                <div style="margin:3%">
                    <button type="button" class="btn-small modal-trigger" href="#exampleModal" id="analyze"
                            onclick="javascript:analyze(); javascript:analyze();">
                        Mood Analysis
                    </button>
                </div>
                <div>
                    <h5>
                        Selected Color:
                        <span id="selected-color" class="dot"
                              style="background-color:red;height:30px;width:30px"></span>
                    </h5>
                </div>
                <div id="colour-swatch"></div>

                <div style="height:200px"></div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mood Analysis</h5>
            </div>
            <div class="modal-content" id="modal-body">
            </div>
            <hr />
            <div>
                <a href="#!" class="modal-close waves-effect waves-green btn-small">Close</a>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <link rel="preload" href="~/Scripts/opencv.js" as="script" />
    <link rel="preload" href="~/Scripts/opencv_js.wasm" as=fetch crossorigin />
    <script src="~/Scripts/d3/d3.min.js"></script>
    <script src="~/Scripts/canvas-actions.js"></script>
    <script src="~/Scripts/mood-analysis.js"></script>
    <script src="~/Scripts/radar-chart.js"></script>
    <script src="~/Scripts/draw-chart.js"></script>
    @Scripts.Render("~/bundles/coloring")
    @Scripts.Render("~/bundles/opencv")
    <script type="text/javascript">
        $(function () {
            $('.modal').modal();
            $('#main-container').hide();
            $('#nav-item-game').addClass('active');
            $('#analyze').addClass('disabled');

        });
        let imgElement = document.getElementById('imageSrc');
        let inputElement = document.getElementById('fileInput');
        inputElement.addEventListener('change', function (e) {
            imgElement.src = URL.createObjectURL(e.target.files[0]);
        }, false);
        ColourSwatch(Bucket(canvasOutput), [
            '#FF0000', '#FF3F3F', '#FF007F', '#FF7F7F', '#FF3F9F', '#FF7FBF',
            '#FF8C00', '#FFA83F', '#FFBFBF', '#FFBFDF', '#FFC57F', '#FFE2BF',
            '#0026FF', '#00B2FF', '#3F5CFF', '#3FC5FF', '#6500FF', '#7F46FF',
            '#00FF32', '#00FFBF', '#59FF00', '#3FFF65', '#82FF3F', '#ACFF7F',
            '#E5FF00', '#EBFF3F', '#F2FF7F', '#D5FFBF', '#BFFFCB', '#BFEBFF',
            '#7F92FF', '#7FD8FF', '#7FFF98', '#F87FFF', '#F53FFF', '#F200FF',
            '#000000', '#3F3F3F', '#7F7F7F', '#BFBFBF', '#F8FFBF', '#FFFFFF'
        ], document.getElementById('colour-swatch'));

        setTimeout(function () {
            $('#loader').hide();
            $('#main-container').show(); $('footer').css({ 'position': 'relative' });
        }, 2000);

        imgElement.onload = function () {
            try {
                $('#imageSrc').show();
                renew();
                let src = cv.imread(imgElement);
                let dst = new cv.Mat();
                let contours = new cv.MatVector();
                let hierarchy = new cv.Mat();

                cv.GaussianBlur(src, src, new cv.Size(3, 3), 5, 5, cv.BORDER_DEFAULT);
                cv.cvtColor(src, src, cv.COLOR_RGB2GRAY, 0);
                cv.Canny(src, dst, 20, 60, 3, false);
                cv.bitwise_not(dst, dst);
                cv.findContours(dst, contours, hierarchy, cv.RETR_CCOMP, cv.CHAIN_APPROX_SIMPLE);
                for (let i = 0; i < contours.size(); ++i) {
                    let color = new cv.Scalar(0, 0, 0);
                    cv.drawContours(dst, contours, i, color, 0.5, cv.LINE_AA, hierarchy, 100);
                }

                cv.imshow('canvasOutput', dst);

                src.delete(); dst.delete();
                $('#imageSrc').hide();
            } catch (e) {
                $('#main-container').hide();
                $('#loader').hide();
                errorMsg();
            }
        };
        function errorMsg() {
            var body = document.getElementById('render-body');
            var error = document.createElement('div');
            error.className = 'h3 text-danger';
            error.textContent = 'Sorry, some important components cannot be loaded! Please check the setting of your browser!';
            var block = document.createElement('div');
            block.style.height = '400px';
            error.appendChild(block);
            body.appendChild(error);
        }
        function onOpenCvReady() { // eslint-disable-line no-unused-vars
        }
        function onOpenCvError() { // eslint-disable-line no-unused-vars
            let element = document.getElementById('status');
            element.setAttribute('class', 'err');
            element.innerHTML = 'Failed to load opencv.js';
        }
        function onFileOpen() {
            $('#imageSrc').show();
            renew();
        }
        function onInputCancel() {
            $('#imageSrc').hide();
        }
        function onFileChange() {
            if (this.files[0].size > 307200) {
                alert("File is too big!");
                this.value = "";
            }
        }
    </script>

}
