﻿@model IEnumerable<ZoneOut.Models.Coloring>

@{
    ViewBag.Title = "Colouring Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Html.Partial("_ColoringGamesPartial")*@
<div>
    @Html.ActionLink("ZONE OUT POINT", "Index", "Home") >
    COLOURING GAMES
</div>
<div style="margin-left:5%;margin-right:5%">
    <h3 style="font-weight:bold">Coloring Games</h3>
    <div>
        <h5>Instructions</h5>
        <h6>You can choose a picture to colour</h6>
        <h6>
            Or you can let the system select one randomly
            @Html.ActionLink("here", "ColoringGameInternalRandom", "Coloring",new { },
           new { @class = "white-text teal" })
        </h6>
        <h6>
            Or you can upload your own pictures,  we can convert them into canvases
            @Html.ActionLink("here", "ColoringGameExternal", "Coloring",new { },
           new { @class = "white-text teal" })
        </h6>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col l3 m4 s6" style="padding:2%">
                <div class="card pink accent-1 z-depth-3" style="padding:2%">
                    <img class="canvases" src="@item.Url" style="width:100%">
                    @Html.ActionLink("Color It", "ColoringGameInternalSelected","Coloring",
                   new { picId = item.Id  },new {@class= "btn-small" })
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $('.canvases').height($('.canvases').width());
            console.log($('.canvases').height());
            $('#nav-item-game').addClass('active');
        });
    </script>
}
