﻿@model ZoneOut.Models.CalculatorViewModel

@{
    ViewBag.Title = "Time Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style>
        .field-validation-error span {
            color: inherit;
            display: block;
            position: absolute;
            right: 0;
            top: 100%;
            transition: .2s opacity ease-out, .2s color ease-out;
            -webkit-transition: .2s opacity ease-out, .2s color ease-out;
        }
    </style>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ActionLink("ZONE OUT POINT", "Index", "Home") >
        TIME MANAGEMENT >
        @Html.ActionLink("TIME CALCUCATOR", "Calculator", "Quizzes") 
    </div>
    <div class="container">
        <div class="card pink lighten-5">
            <h4 style="margin-left:1%;margin-top:1%;font-weight:bold">Where does your time go? </h4>
            <div class="card-content">
                <p>
                    This self –assessment estimations allow you to calculate the
                    approximate amount of time you have to study during the week.
                    Is there enough?  This is your time to look at how you might
                    reorganize your time to allow for more/less study time during the week.
                </p>
                @Html.ValidationSummary(true, "", new { @class = "red-text" })
                @if (Model.Result <168)
                {
                    <div class="card">
                        <div class="row">
                            <h3 class="red-text">You have @Model.Result hours to study per week!</h3>
                        </div>
                    </div>
                }

                <div class="card">
                    <h5>Enter the time you spend each DAY</h5>
                    <div class="card-content">
                        <div class="row">
                            <div class="col m6 labels">
                                @Html.LabelFor(model => model.Sleep)
                            </div>
                            <div class="col m1 input-field">
                                @Html.DropDownListFor(model => model.Sleep, new SelectList(Enumerable.Range(0, 11)))
                            </div><div class="col m1 labels">Hours</div>
                            <div class="col m4">
                                @Html.ValidationMessageFor(model => model.Sleep, "", new { @class = "red-text" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col m6 labels">
                                @Html.LabelFor(model => model.Grooming)
                            </div>
                            <div class="col m1 input-field">
                                @Html.DropDownListFor(model => model.Grooming,
                               new SelectList(Enumerable.Range(0, 11)))
                            </div>
                            <div class="col m1 labels">Hours</div>
                            <div class="col m4">
                                @Html.ValidationMessageFor(model => model.Grooming, "", new { @class = "red-text" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col m6 labels">
                                @Html.LabelFor(model => model.Meals)
                            </div>
                            <div class="col m1 input-field">
                                @Html.DropDownListFor(model => model.Meals,
                               new SelectList(Enumerable.Range(0, 11)))
                            </div>
                            <div class="col m1 labels">Hours</div>
                            <div class="col m4">
                                @Html.ValidationMessageFor(model => model.Meals, "", new { @class = "red-text" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col m6 labels">
                                @Html.LabelFor(model => model.Travel)
                            </div>
                            <div class="col m1 input-field">
                                @Html.DropDownListFor(model => model.Travel,
                               new SelectList(Enumerable.Range(0, 11)))
                            </div><div class="col m1 labels">Hours</div>
                            <div class="col m4">
                                @Html.ValidationMessageFor(model => model.Travel, "", new { @class = "red-text", @value = 0 })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col m6 labels">
                                @Html.LabelFor(model => model.Computer)
                            </div>
                            <div class="col m1 input-field">
                                @Html.DropDownListFor(model => model.Computer,
                               new SelectList(Enumerable.Range(0, 11)))
                            </div><div class="col m1 labels">Hours</div>
                            <div class="col m4">
                                @Html.ValidationMessageFor(model => model.Computer, "", new { @class = "red-text" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col m6 labels">
                                @Html.LabelFor(model => model.Errands)
                            </div>
                            <div class="col m1 input-field">
                                @Html.DropDownListFor(model => model.Errands,
                               new SelectList(Enumerable.Range(0, 11)))
                            </div><div class="col m1 labels">Hours</div>
                            <div class="col m4">
                                @Html.ValidationMessageFor(model => model.Errands, "", new { @class = "red-text" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h5>Enter the time you spend each WEEK</h5>
                    <div class="card-content">
                        <div class="row">
                            <div class="col m6 labels">
                                @Html.LabelFor(model => model.Work)
                            </div>
                            <div class="col m1 input-field">
                                @Html.DropDownListFor(model => model.Work,
                               new SelectList(Enumerable.Range(0, 41)))
                            </div><div class="col m1 labels">Hours</div>
                            <div class="col m4">
                                @Html.ValidationMessageFor(model => model.Work, "", new { @class = "red-text" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col m6 labels">
                                @Html.LabelFor(model => model.Activities)
                            </div>
                            <div class="col m1 input-field">
                                @Html.DropDownListFor(model => model.Activities,
                               new SelectList(Enumerable.Range(0, 41)))
                            </div><div class="col m1 labels">Hours</div>
                            <div class="col m4">
                                @Html.ValidationMessageFor(model => model.Activities, "", new { @class = "red-text" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m6 labels">
                                @Html.LabelFor(model => model.Class)
                            </div>
                            <div class="col m1 input-field">
                                @Html.DropDownListFor(model => model.Class,
                               new SelectList(Enumerable.Range(0, 41)))
                            </div><div class="col m1 labels">Hours</div>
                            <div class="col m4">
                                @Html.ValidationMessageFor(model => model.Class, "", new { @class = "red-text" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col m6 labels">
                                @Html.LabelFor(model => model.Friends)
                            </div>
                            <div class="col m1 input-field">
                                @Html.DropDownListFor(model => model.Friends,
                               new SelectList(Enumerable.Range(0, 41)))
                            </div><div class="col m1 labels">Hours</div>
                            <div class="col m4">
                                @Html.ValidationMessageFor(model => model.Friends, "", new { @class = "red-text" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row card-action">
                <div class="col offset-m6">
                    <input type="submit" value="Calculate" class="btn" />
                </div>
            </div>
            <br />
        </div>
    </div>
}
@section Scripts{
    <script>
        $(document).ready(function () {
            M.updateTextFields();
            $('#nav-item-quiz').addClass('active');
            $('label').css({
                'font-size': 'medium', 'color': 'black'
            });
            $('.labels').css({
                'margin-top': '4%'
            });
            $('select').formSelect();
        });
    </script>
}