﻿@model ZoneOut.Models.Quiz

@{
    ViewBag.Title = "Time Management Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (1 <= Model.Id && Model.Id <= 6)
{
    <div>
        @Html.ActionLink("ZONE OUT POINT", "Index", "Home") >
        TIME MANAGEMENT >
        @Html.ActionLink("TIME MANAGEMENT QUIZ", "Index", "Quizzes") >
        QUESTION @Model.Id / 6
    </div>
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="card-title  center-align">
                    @Html.DisplayFor(model => model.Question)
                </div>
                <div class="row">
                    <div class="col offset-l2 l8">
                        @if (Model.Id < 6)
                        {
                            <ul class="collection" style="width:100%">
                                <li class="collection-item" id="yes" onclick="javascript: clickYes();
    location.href ='/Quizzes/Details/@(Model.Id+1)'">
                                    <div class="waves-effect waves-light center-align">Yes</div>
                                </li>
                                <li class="collection-item" id="no" onclick="javascript: clickNo();
    location.href ='/Quizzes/Details/@(Model.Id+1)'">
                                    <div class="waves-effect waves-light center-align">No</div>
                                </li>
                            </ul>
                        }
                        else if (Model.Id == 6)
                        {
                            <ul class="collection" style="width:100%">
                                <li class="collection-item" id="yes" onclick="javascript: clickYes()">
                                    <div class="waves-effect waves-light center-align">Yes</div>
                                </li>
                                <li class="collection-item" id="no" onclick="javascript: clickNo()">
                                    <div class="waves-effect waves-light center-align">No</div>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
            <div class="card-action">
                @if (Model.Id == 1)
                {
                    @Html.ActionLink("Prev", "Details", "Quizzes", new { id = Model.Id - 1 },
                   new { @id="btn-prev", @class = "btn disabled" })
                }
                @if (Model.Id > 1)
                {
                    @Html.ActionLink("Prev", "Details", "Quizzes", new { id = Model.Id - 1 },
                   new { @id="btn-prev", @class = "btn" })
                }
                @if (Model.Id == 6)
                {
                    <a id="finish" class="btn modal-trigger disabled" style="float:right">Finish</a>
                }
                @if (Model.Id < 6)
                {
                    <a id="btn-next" class="btn disabled" style="float:right"
                       href="/Quizzes/Details/@(Model.Id+1)">Next</a>
                }

            </div>
            <br />
            <div class="progress">
                <div class="determinate" style="width: @(Model.Id*16.6)%"></div>
            </div>
        </div>
    </div>
    <div class="modal" id="modal1">
        <div class="modal-content">
            <h5>There is a need for help with your time management</h5>
            <h6>
                Click @Html.ActionLink("Here","Calculator","Quizzes", new { },
new { @class = "waves-effect waves-teal btn-small white black-text z-depth-2" })
                to know where your time goes!
            </h6>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <div class="modal" id="modal2">
        <div class="modal-content">
            <h5>You effectively use your time</h5>
            <h6>
                Click @Html.ActionLink("Here","PlanQuiz","Quizzes", new { },
new { @class = "waves-effect waves-teal btn-small white black-text z-depth-2" })
                to know how well you plan!
            </h6>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    @section Scripts
    {
        <script>
        var quizAnswer = JSON.parse(localStorage.getItem('quizAnswer'));
        $(function () {
            $('.collection-item').mouseover(function () {
                $(this).addClass('cyan lighten-5');
            });
            $('.collection-item').mouseout(function () {
                $(this).removeClass('cyan lighten-5');
                var tmp = quizAnswer.filter(y => {
                    return y.question === @Model.Id;
                });
                if (tmp.length !== 0) {
                    $('#btn-next').removeClass('disabled');
                    if (tmp[0].answer === 'y') {
                        $('#yes').addClass('cyan');
                    } else {
                        $('#no').addClass('cyan');
                    }
                }
                else {
                    $('#btn-next').addClass('disabled');
                }
            });
            $('.modal').modal();
            console.log(quizAnswer);
            var tmp = quizAnswer.filter(y => {
                return y.question===@Model.Id;
            });
            if (tmp.length !== 0) {
                $('#btn-next').removeClass('disabled');
                if (tmp[0].answer === 'y') {
                    $('#yes').addClass('cyan');
                } else {
                    $('#no').addClass('cyan');
                }
            } else {
                $('#btn-next').addClass('disabled');
            }

            if (quizAnswer.length === 6) {
                $('#finish').removeClass('disabled');
                var sum = 0;
                quizAnswer.forEach(a => {
                    sum += a.mark;
                });
                if (sum > 4) {
                    $('#finish').attr("href", "#modal2");
                } else {
                    $('#finish').attr("href", "#modal1");
                }
            } else {
                $('#finish').addClass('disabled');
            }
        });
        var clickYes = function () {
            $('#yes').addClass('cyan');
            $('#no').removeClass('cyan');
            var tmp = quizAnswer.filter(y => {
                return y.question===@Model.Id;
            });
            if (tmp.length === 0) {
                quizAnswer.push({ 'question': @Model.Id , 'answer': 'y', 'mark':@Model.Mark});
            } else {
                quizAnswer = quizAnswer.filter(function (i) {
                    return i.question !== @Model.Id;
                });
                tmp[0].mark =@Model.Mark;
                tmp[0].answer = 'y';
                quizAnswer.push(tmp[0]);
            }
            localStorage.setItem('quizAnswer', JSON.stringify(quizAnswer));
            console.log(localStorage.getItem("quizAnswer"));
            if (quizAnswer.length === 6) {
                $('#finish').removeClass('disabled');
                var sum = 0;
                quizAnswer.forEach(a => {
                    sum += a.mark;
                });
                if (sum > 4) {
                    $('#finish').attr("href", "#modal2");
                } else {
                    $('#finish').attr("href", "#modal1");
                }
            }
        };
        var clickNo = function () {
            $('#no').addClass('cyan');
            $('#yes').removeClass('cyan');
            var tmp = quizAnswer.filter(y => {
                return y.question===@Model.Id;
            });
            if (tmp.length === 0) {
                quizAnswer.push({ 'question': @Model.Id , 'answer': 'n', 'mark': 1 -@Model.Mark});
            } else {
                quizAnswer = quizAnswer.filter(function (i) {
                    return i.question !== @Model.Id;
                });
                tmp[0].mark = 1 -@Model.Mark;
                tmp[0].answer = 'n';
                quizAnswer.push(tmp[0]);
            }
            localStorage.setItem('quizAnswer', JSON.stringify(quizAnswer));
            console.log(localStorage.getItem('quizAnswer'));
            if (quizAnswer.length === 6) {
                $('#finish').removeClass('disabled');
                var sum = 0;
                quizAnswer.forEach(a => {
                    sum += a.mark;
                });
                if (sum > 4) {
                    $('#finish').attr("href", "#modal2");
                } else {
                    $('#finish').attr("href", "#modal1");
                }
            }
        };
        </script>
        <script>
            $('#nav-item-quiz').addClass('active');
        </script>
    }
}
else
{
    <h2 class="red-text">
        An Error has occured!!!
    </h2>
    @Html.ActionLink("Back to QUIZ", "Index", "Quizzes", new { },
                       new { @class = "btn" })
    @section Scripts{
        <script>
            $('#nav-item-quiz').addClass('active');
        </script>
    }
}