﻿@{
    ViewBag.Title = "Time Management Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.ActionLink("ZONE OUT POINT", "Index", "Home") >
    TIME MANAGEMENT >
    TIME MANAGEMENT QUIZ
</div>
<div class="container">
    <div class="card">
        <div class="card-image">
            <img src="~/Images/quiz-bg.jpg" />
            <span class="card-title flow-text black-text" style="font-weight:bold">
                Take this self-test quiz to identify the whether you are effective at time management or not
            </span>
        </div>
        <div class="card-content">
            <h4>
                Instructions
            </h4>
            <p>
                For each statement, click the button that best describes you.
                Please answer questions as you actually are (rather than how you think you should be),
                and don't worry if some questions seem to score in the "wrong direction."
                When you are finished, please click the "Submit" button at the end of the test.
            </p>
            <br />
            <div class="card-action">
                @Html.ActionLink("Start", "Details", "Quizzes", new { id = 1 }, new { @class = "btn" })
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/quiz-answer.js"></script>
    <script>
        $('#nav-item-quiz').addClass('active');
        if (window.screen.availWidth > 800) {
            $('.card-title').css({ 'font-size': 30 });
        } else {
            $('.card-title').css({ 'font-size': 20 });
        }
    </script>
}
