﻿@model IEnumerable<ZoneOut.Models.Quiz>

@{
    ViewBag.Title = "Planning Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.ActionLink("ZONE OUT POINT", "Index", "Home") >
    TIME MANAGEMENT >
    PLANNING QUIZ
</div>
<div class="container">
    <div class="card">
        <h4  style="font-weight:bold">How well do you Plan?</h4>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Question)
                </th>
                <th>
                    Always
                </th>
                <th>
                    Often
                </th>
                <th>
                    Sometimes
                </th>
                <th>
                    Seldom
                </th>
                <th>
                    Never
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question)
                    </td>
                    @for (var radio = 1; radio < 6; radio++)
                    {
                        <td>
                            <label>
                                <input class="with-gap" name="@item.Id" type="radio" value="@radio" onclick="calculate()" />
                                <span></span>
                            </label>
                        </td>
                    }
                </tr>
            }
        </table>
        <br />
        <div class="center-align">
            <a class="btn modal-trigger" id="calc">Calculate</a>
        </div>
        <div style="height:50px"></div>
    </div>
</div>
<br />
<div class="modal" id="modal1">
    <div class="modal-content">
        <h5>Poor Planner</h5>
        <h6>You should consider using new tools like Pomodoro and processes to help you plan effectively. You may also meet with an advisor in the Academic Skills Centre to guide you.</h6>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
<div class="modal" id="modal2">
    <div class="modal-content">
        <h5>Below average planner</h5>
        <h6>You may already have a planning system, but using it more effectively will help get more done each day.</h6>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
<div class="modal" id="modal3">
    <div class="modal-content">
        <h5>Average planner</h5>
        <h6>Your planning system is working, but you can enhance it. Get help focusing on priorities or writing your daily plan.</h6>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
<div class="modal" id="modal4">
    <div class="modal-content">
        <h5>Above-average planner</h5>
        <h6>Your planning system is working well. Keep up the good work, with periodic reviews to be sure you’re planning around what matters most.</h6>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
<div class="modal" id="modal5">
    <div class="modal-content">
        <h5>Excellent planner</h5>
        <h6>You have mastered planning. But make sure you’re in control of your planning rather than letting it control you.</h6>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

@section Scripts{
    <script>
        $('#nav-item-quiz').addClass('active');
        $('.modal').modal();
        $('#calc').hide();
        var calculate = function () {
            var sum = 0;
            var num = 0;
            for (var i = 11; i <= 16; i++) {
                var radios = document.getElementsByName(i.toString());
                for (var j = 0; j < 5; j++) {
                    if (radios[j].checked) {
                        console.log(6 - radios[j].value);
                        sum += 6 - radios[j].value;
                        num += 1;
                    }
                }
            }
            if (num === 6) {
                $('#calc').show();
            }
            if (sum <= 10) {
                $('#calc').attr("href", "#modal1");
            } else if (sum > 10 && sum <= 15) {
                $('#calc').attr("href", "#modal2");
            } else if (sum > 15 && sum <= 20) {
                $('#calc').attr("href", "#modal3");
            } else if (sum > 20 && sum <= 25) {
                $('#calc').attr("href", "#modal4");
            } else {
                $('#calc').attr("href", "#modal5");
            }
        };
    </script>
}
