﻿
@{
    ViewBag.Title = "Planning Your Study Time";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.ActionLink("ZONE OUT POINT", "Index", "Home") >
    TIME MANAGEMENT >
    PLANNING TIPS
</div>
<div class="container">
    <div class="card">
        <div class="card-image">
            <img src="~/Images/arm-desk-hand-58457.jpg" alt="Card image cap"
                 style="width:100%">
            <div class="card-title flow-text">
                <h3 class="black-text flow-text"  style="font-weight:bold">
                    Planning Your Study Time
                </h3>
                <h6 class="black-text">
                    Now that you’ve mastered scheduling, how do you manage those flexible
                    blocks of time?  Consider some general guidelines:
                </h6>
            </div>
        </div>

        <div class="card-content">
            <div class="card orange lighten-5">
                <h6 class="card-title">Study Formula</h6>
                <ul>
                    <li style=" margin-left:2%">
                        Excluding any required lab time, expect to invest at least 2 hours of study time outside class for every hour in class.  (this formula will vary from person to person and from course to course)
                    </li>
                </ul>
            </div>
            <div class="card amber lighten-5">
                <h6 class="card-title">Budget Time</h6>
                <ul>
                    <li style=" margin-left:2%">
                        Budget time according to what assignments and exams are worth.  If an exam is worth 50% and your paper is worth 50%, then you might want to divide your time evenly between preparing for your exam and writing your paper.
                    </li>
                </ul>
            </div>
            <div class="card yellow lighten-5">
                <h6 class="card-title">
                    Deadlines
                </h6>
                <ul>
                    <li style=" margin-left:2%">
                        Remember that work expands to fill the time available, so estimate how long the work should take and give yourself a deadline.
                    </li>
                </ul>
            </div>
            <div class="card lime lighten-4">
                <h6 class="card-title">
                    Take Breaks
                </h6>
                <ul>
                    <li style=" margin-left:2%">
                        Optimum efficiency is reached by studying in 1 hour blocks (50 minutes + 10 minute break).  Shorter periods are good for reviewing notes and doing memory work.  Longer periods are usually needed for writing and problem solving.
                    </li>
                </ul>
            </div>
            <div class="card light-green lighten-5">
                <h6 class="card-title">
                    Peak Times
                </h6>
                <ul>
                    <li style=" margin-left:2%">
                        Tackle less interesting and more difficult tasks during your high energy and peak concentration times.  Leave the more engaging and easier work for low times.  Save non-academic tasks (i.e. shopping, cleaning) for times in the day when you are really low on energy and concentration.
                    </li>
                </ul>
            </div>
            <div class="card green lighten-5">
                <h6 class="card-title">
                    Fill Gaps
                </h6>
                <ul>
                    <li style=" margin-left:2%">
                        Always have small tasks (i.e. learning vocabulary for a language or biology course) on hand so you can fill in the many little windows of time during your day.
                    </li>
                </ul>
            </div>
            <div class="card teal lighten-5">
                <h6 class="card-title">
                    Prioritize
                </h6>
                <ul>
                    <li style=" margin-left:2%">
                        Prioritize by listing the study tasks for the week and each day in order of importance.  Commit to finishing the most important tasks first.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('#nav-item-quiz').addClass('active');
    </script>
}