﻿
@{
    ViewBag.Title = "Time Management Strategies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.ActionLink("ZONE OUT POINT", "Index", "Home") >
    TIME MANAGEMENT >
    STRATEGIES
</div>
<div class="container">
    <div class="card">
        <div class="card-image">
            <img src="~/Images/alarm-clock-art-background-1037993.jpg" alt="Card image cap"
                 style="width:100%" id="card-img">
            <div class="card-title flow-text">
                <h3 class="black-text flow-text" style="font-weight:bold">
                    Time Management Strategies
                </h3>
                <h6 class="black-text">
                    The following will help you control your time better!
                </h6>
            </div>
        </div>
        <div class="card-title" style="font-weight:bold">
            The FOUR-Schedule System
        </div>
        <div class="card-content">
            <div class="card purple lighten-4">
                <h6 class="card-title">Term Schedule</h6>
                <ul>
                    <li style="margin-left:2%">
                        Make a four month term schedule
                        <ul>
                            <li style="margin-left:4%">
                                Put it on the wall in order to see all important term dates (assignments and exams) at a glance
                            </li>
                        </ul>
                    </li>
                    <li style="margin-left:2%">
                        For assignments
                        <ul>
                            <li style="margin-left:4%">
                                Record the due date, a completion date (aim for one week before it is due) and a starting date by estimating how long it will take to complete it
                            </li>
                        </ul>
                    </li>
                    <li style="margin-left:2%">
                        For exams
                        <ul>
                            <li style="margin-left:4%">
                                Record the exam date and the date you intend to begin studying for it
                            </li>
                        </ul>
                    </li>
                    <li style="margin-left:2%">
                        Other
                        <ul>
                            <li style="margin-left:4%">
                                Add other important commitments to your term calendar
                            </li>
                        </ul>
                    </li>
                    <li style="margin-left:2%">
                        Review
                        <ul>
                            <li style="margin-left:4%">
                                Look for congested periods indicating that you need to start some assignments earlier to avoid academic pile up  Remember to revise and update as required
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="card indigo lighten-4">
                <h6 class="card-title">Master Schedule</h6>
                <ul>
                    <li style=" margin-left:2%">
                        Make a master schedule which is a template for a typical week in your term
                        <ul>
                            <li style="margin-left:4%">
                                Make a master schedule once a term
                            </li>
                            <li style="margin-left:4%">
                                List all your weekly fixed activities
                            </li>
                            Activities included:
                            Sleep   Class   Labs   Meals Spiritual Activities  Grocery Shopping Jobs   TV Volunteer work   Travel Time  Cleaning  Other Exercise   Recreation  Socializing   Personal Hygiene  Laundry  Clubs
                            This schedule helps maintain balance and reveals how much time is available for study and other flexible activities
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="card deep-purple lighten-4">
                <h6 class="card-title">
                    Weekly Schedule
                </h6>
                <ul>
                    <li style=" margin-left:2%">
                        Make a weekly schedule that adds details and allows you to plan your study time
                    </li>
                </ul>
            </div>
            <div class="card blue lighten-4">
                <h6 class="card-title">
                    Daily Schedule
                </h6>
                <ul>
                    <li style="margin-left:2%">
                        Make a daily schedule of your prioritized list of activities including the times for doing them, for the next day
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $('#nav-item-quiz').addClass('active');

    </script>
}