﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Zone Out Point</title>
    <link rel="shortcut icon" href="~/logo.ico" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    <style>
        @@media only screen and (max-width: 992px) {
            nav .brand-logo {
                font-size:small;
            }
        }
    </style>
    @RenderSection("styles", required: false)
</head>
<body>
    <ul id="dropdown1" class="dropdown-content">
        <li>
            @Html.ActionLink("SELECT CANVAS", "Index", "Coloring", new { },
           new { @class = "" })
        </li>
        <li>
            @Html.ActionLink("RANDOM CANVAS",  "ColoringGameInternalRandom", "Coloring", new { },
           new { @class = "nav-link",@id="internal-coloring-game"})
        </li>
        <li>
            @Html.ActionLink("UPLOAD PICTURE",  "ColoringGameExternal", "Coloring", new { },
           new { @class = "nav-link", @id = "external-coloring-game" })
        </li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
        <li>
            @Html.ActionLink("HOBBY CLASSES", "Index", "HobbyClass", new { },
           new { @class = "" })
        </li>
        <li>
            @Html.ActionLink("COUNCELLORS", "Index", "Councellors", new { },
           new { @class = "nav-link"})
        </li>
        <li>
            @Html.ActionLink("INTERESTING PLACES", "Index", "Places", new { },
           new { @class = "nav-link" })
        </li>
    </ul>
    <ul id="dropdown3" class="dropdown-content">
        <li>
            @Html.ActionLink("TIME MANAGEMENT QUIZ", "Index", "Quizzes")
        </li>
        <li>
            @Html.ActionLink("STRATEGIES", "Strategies", "Quizzes")
        </li>
        <li>
            @Html.ActionLink("PLANNING TIPS", "Planning", "Quizzes")
        </li>
        <li>@Html.ActionLink("PLANNING QUIZ", "PlanQuiz", "Quizzes")</li>
        <li>@Html.ActionLink("TIME CALCULATOR", "Calculator", "Quizzes")</li>
    </ul>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper pink darken-1">
                <a href="/Home/Index" class="brand-logo" id="brand-logo" style="font-weight:bold;margin-left:1%">
                    ZONE OUT POINT
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li id="nav-item-home">
                        @Html.ActionLink("HOME", "Index", "Home", new { },
                       new { @class = "" })
                    </li>
                    <li id="nav-item-stats">
                        @Html.ActionLink("HOW ART INFLUENCES", "Statistics", "Home", new { },
                       new { @class = "" })
                    </li>
                    <li id="nav-item-game">
                        <a class="dropdown-trigger" href="#!" data-target="dropdown1">
                            COLOURING GAMES<i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li id="nav-item-quiz">
                        <a class="dropdown-trigger" href="#!" data-target="dropdown3">
                            TIME MANAGEMENT<i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li id="nav-item-suggest">
                        <a class="dropdown-trigger" href="#!" data-target="dropdown2">
                            SUGGESTIONS<i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <!--
                    <li id="nav-item-contact">
                        @Html.ActionLink("WHO WE ARE", "Contact", "Home", new { },
                       new { @class = "" })
                    </li>-->
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li>
            <div class="background">
                <img src="~/Images/background-3.jpg" style="width:100%;height:auto" />
                <a href="/Home/Index"
                   style="position:absolute;top:15%;left:0;right:0;text-align:center">
                    <h4 class="black-text">ZONE OUT POINT</h4>
                </a>
            </div>
        </li>
        <li>
            <a href="/Home/Index"><i class='material-icons'>home</i>HOME</a>
        </li>
        <li>
            <a href="/Home/Statistics"><i class='material-icons'>equalizer</i>Statistics</a>
        </li>
        <li><div class="divider"></div></li>
        <li><a class="subheader"><i class='material-icons'>palette</i>COLORING GAMES</a></li>
        <li>
            <a href="/Coloring/Index"><i class='material-icons'>photo_size_select_actual</i>SELECT CANVAS</a>
        </li>
        <li>
            <a href="/Coloring/ColoringGameInternalRandom"><i class='material-icons'>photo_library</i>RANDOM CANVAS</a>
        </li>
        <li>
            <a href="/Coloring/ColoringGameExternal"><i class='material-icons'>photo_camera</i>UPLOAD PICTURE</a>
        </li>
        <li><div class="divider"></div></li>
        <li><a class="subheader"><i class='material-icons'>access_time</i>TIME MANAGEMENT</a></li>
        <li>
            <a href="/Quizzes/Index"><i class='material-icons'>question_answer</i>TIME MANAGEMENT QUIZ</a>
        </li>
        <li>
            <a href="/Quizzes/Strategies"><i class='material-icons'>priority_high</i>STRATEGIES</a>
        </li>
        <li>
            <a href="/Quizzes/Planning"><i class='material-icons'>playlist_add_check</i>PLANNING TIPS</a>
        </li>
        <li>
            <a href="/Quizzes/PlanQuiz"><i class='material-icons'>access_alarm</i>PLANNING QUIZ</a>
        </li>
        <li>
            <a href="/Quizzes/Calculator"><i class='material-icons'>add_to_queue</i>TIME CALCULATOR</a>
        </li>
        <li><div class="divider"></div></li>
        <li><a class="subheader"><i class='material-icons'>live_help</i>SUGGESTIONS</a></li>
        <li>
            <a href="/HobbyClass/Index"><i class='material-icons'>queue_music</i>HOBBY CLASSES</a>
        </li>
        <li>
            <a href="/Councellors/Index"><i class='material-icons'>record_voice_over</i>COUNCELLORS</a>
        </li>
        <li>
            <a href="/Places/Index"><i class='material-icons'>location_city</i>INTERESTING PLACES</a>
        </li>
        <!--<li><div class="divider"></div></li>
        <li>
            <a href="/Home/Contact"><i class='material-icons'>people</i>WHO WE ARE</a>
        </li>-->
    </ul>
    <div id="render-body">@RenderBody()</div>
    <footer class="page-footer pink darken-1">
        <div class="footer-copyright pink darken-1">
            <div class="container" id="footer">
                &copy; @DateTime.Now.Year - Infinite Loops
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $(".dropdown-trigger").dropdown({ coverTrigger: false });
            console.log($('body').height());
            console.log(window.screen.availHeight);
            if ($('body').height() < window.screen.availHeight - 50) {
                $('footer').css({
                    'position': 'absolute',
                    'bottom': 0,
                    'width': '100%'
                });
            }
        });
    </script>
</body>
</html>
